MiniImageNet/data
MiniImageNet/train_large/gen/
MiniImageNet/train_large/libnccl.so
MiniImageNet/train_large/model_best.t7
MiniImageNet/train_large/checkpoints
MiniImageNet/train_large/training.log
MiniImageNet/few_shot/pretrained
MiniImageNet/few_shot/intermediate
MiniImageNet/few_shot/exps
MiniImageNet/few_shot/featurepool
